@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins";
}

body {
  margin: 0;
  color: white;
  position: relative;
  overflow: hidden;
  outline: none;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets//starry-background.png");
  background-repeat: repeat;
  background-color: black;
  background-size: 400px;
  filter: brightness(0.15); /* Adjust the opacity as desired */
  z-index: -1;
}

input::placeholder {
  color: rgb(133, 133, 133);
}
